In [17]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [18]:
# Read the data from the excel file
# Obtained from kaggle https://www.kaggle.com/datasets/vipullrathod/fish-market/data
df_rawData = pd.read_csv('fish.csv')

# 'Species' would be our target.

In [19]:
df_rawData.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [20]:
df_rawData.tail()

    Species  Weight  Length1  Length2  Length3  Height   Width
154   Smelt    12.2     11.5     12.2     13.4  2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5  2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8  2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2  2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2  2.9322  1.8792

In [32]:
#Getting the unique values of fish Species.

SpeciesData = df_rawData["Species"].unique()

SpeciesData

array(['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt'],
      dtype=object)

In [26]:
# Filtering the data to help with possible slicing 
filtered_df = df_rawData[df_rawData['Species'] == 'Bream']
filtered_df

   Species  Weight  Length1  Length2  Length3   Height   Width
0    Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1    Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2    Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3    Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4    Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
5    Bream   450.0     26.8     29.7     34.7  13.6024  4.9274
6    Bream   500.0     26.8     29.7     34.5  14.1795  5.2785
7    Bream   390.0     27.6     30.0     35.0  12.6700  4.6900
8    Bream   450.0     27.6     30.0     35.1  14.0049  4.8438
9    Bream   500.0     28.5     30.7     36.2  14.2266  4.9594
10   Bream   475.0     28.4     31.0     36.2  14.2628  5.1042
11   Bream   500.0     28.7     31.0     36.2  14.3714  4.8146
12   Bream   500.0     29.1     31.5     36.4  13.7592  4.3680
13   Bream   340.0     29.5     32.0     37.3  13.9129  5.0728
14   Bream   600.0     29.4     32.0     37.2  14.9544  5.1708
15   Bream   600.0     29.4     32.0     37.2  15.4380  5.5800
16   Bream   700.0     30.4     33.0     38.3  14.8604  5.2854
17   Bream   700.0     30.4     33.0     38.5  14.9380  5.1975
18   Bream   610.0     30.9     33.5     38.6  15.6330  5.1338
19   Bream   650.0     31.0     33.5     38.7  14.4738  5.7276
20   Bream   575.0     31.3     34.0     39.5  15.1285  5.5695
21   Bream   685.0     31.4     34.0     39.2  15.9936  5.3704
22   Bream   620.0     31.5     34.5     39.7  15.5227  5.2801
23   Bream   680.0     31.8     35.0     40.6  15.4686  6.1306
24   Bream   700.0     31.9     35.0     40.5  16.2405  5.5890
25   Bream   725.0     31.8     35.0     40.9  16.3600  6.0532
26   Bream   720.0     32.0     35.0     40.6  16.3618  6.0900
27   Bream   714.0     32.7     36.0     41.5  16.5170  5.8515
28   Bream   850.0     32.8     36.0     41.6  16.8896  6.1984
29   Bream  1000.0     33.5     37.0     42.6  18.9570  6.6030
30   Bream   920.0     35.0     38.5     44.1  18.0369  6.3063
31   Bream   955.0     35.0     38.5     44.0  18.0840  6.2920
32   Bream   925.0     36.2     39.5     45.3  18.7542  6.7497
33   Bream   975.0     37.4     41.0     45.9  18.6354  6.7473
34   Bream   950.0     38.0     41.0     46.5  17.6235  6.3705