In [1]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

### Initializing Dataset

In [2]:
# Read the data from the xlsx file
df_rawData = pd.read_excel('autoMPG_data.xlsx')

In [3]:
# Checking to see how many rows we have in this dataset
df_rawData.shape[0]

392

In [ ]:
df_rawData

before you build your linear regression model, remember to first study the variables one by one to understand your data. This includes: checking for any missing values, using describe(), info(), making graphs, etc.

### Analyzing Variables

In [4]:
# Describe the dataset (can get the mean of the rows to replace the nan values)
df_rawData.describe()

,GallonsPer100Miles,GallonsPer100MilesTo1981,MPG,Cylinders,Displacement100ci,Horsepower100,Weight1000lb,Seconds0to60,Year,Year70To81,Origin,Origin.Eq.1,Origin.Eq.2,Origin.Eq.3
count,392.000000,362.000000,392.000000,392.000000,392.00000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,4.782243,4.912568,23.445918,5.471939,1.94412,1.044694,2.977584,15.541327,75.979592,0.923469,1.576531,0.625000,0.173469,0.201531
std,1.663944,1.659047,7.805007,1.705783,1.04644,0.384912,0.849403,2.758864,3.683737,0.266185,0.805518,0.484742,0.379136,0.401656
min,2.145923,2.145923,9.000000,3.000000,0.68000,0.460000,1.613000,8.000000,70.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,3.448276,3.571429,17.000000,4.000000,1.05000,0.750000,2.225250,13.775000,73.000000,1.000000,1.000000,0.000000,0.000000,0.000000
50%,4.396135,4.651163,22.750000,4.000000,1.51000,0.935000,2.803500,15.500000,76.000000,1.000000,1.000000,1.000000,0.000000,0.000000
75%,5.882353,6.024744,29.000000,8.000000,2.75750,1.260000,3.614750,17.025000,79.000000,1.000000,2.000000,1.000000,0.000000,0.000000
max,11.111111,11.111111,46.600000,8.000000,4.55000,2.300000,5.140000,24.800000,82.000000,1.000000,3.000000,1.000000,1.000000,1.000000

In [6]:
# IRELLEVANT NOW
# Drop the columns with the nan variables. 
dropped = df_rawData.dropna()

In [7]:
# Find out how many rows the dataset would have after the nan rows have been dropped. 
dropped.shape[0]

362

In [13]:
# Display the dropped table
dropped

,GallonsPer100Miles,GallonsPer100MilesTo1981,MPG,Cylinders,Displacement100ci,Horsepower100,Weight1000lb,Seconds0to60,Year,Year70To81,Origin,Origin.Eq.1,Origin.Eq.2,Origin.Eq.3,Name
0,5.555556,5.555556,18.0,8,3.07,1.30,3.504,12.0,70,1,1,1,0,0,chevrolet chevelle malibu
1,6.666667,6.666667,15.0,8,3.50,1.65,3.693,11.5,70,1,1,1,0,0,buick skylark 320
2,5.555556,5.555556,18.0,8,3.18,1.50,3.436,11.0,70,1,1,1,0,0,plymouth satellite
3,6.250000,6.250000,16.0,8,3.04,1.50,3.433,12.0,70,1,1,1,0,0,amc rebel sst
4,5.882353,5.882353,17.0,8,3.02,1.40,3.449,10.5,70,1,1,1,0,0,ford torino
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,4.132231,4.132231,24.2,6,1.46,1.20,2.930,13.8,81,1,3,0,0,1,datsun 810 maxima
358,4.464286,4.464286,22.4,6,2.31,1.10,3.415,15.8,81,1,1,1,0,0,buick century
359,3.759398,3.759398,26.6,8,3.50,1.05,3.725,19.0,81,1,1,1,0,0,oldsmobile cutlass ls
360,4.950495,4.950495,20.2,6,2.00,0.88,3.060,17.1,81,1,1,1,0,0,ford granada gl
361,5.681818,5.681818,17.6,6,2.25,0.85,3.465,16.6,81,1,1,1,0,0,chrysler lebaron salon

In [11]:
# IRRELEVANT
# Make a new table of all the tables that have null characters
nan_rows = df_rawData.isnull().any(axis=1)
nan_rows.shape[0]

392

In [14]:
nan_rows

0      False
1      False
2      False
3      False
4      False
       ...
387     True
388     True
389     True
390     True
391     True
Length: 392, dtype: bool

In [12]:
empty_rows = df_rawData.loc[nan_rows]
empty_rows.shape[0]

30

In [15]:
empty_rows

,GallonsPer100Miles,GallonsPer100MilesTo1981,MPG,Cylinders,Displacement100ci,Horsepower100,Weight1000lb,Seconds0to60,Year,Year70To81,Origin,Origin.Eq.1,Origin.Eq.2,Origin.Eq.3,Name
362,3.571429,NaN,28.0,4,1.12,0.88,2.605,19.6,82,0,1,1,0,0,chevrolet cavalier
363,3.703704,NaN,27.0,4,1.12,0.88,2.640,18.6,82,0,1,1,0,0,chevrolet cavalier wagon
364,2.941176,NaN,34.0,4,1.12,0.88,2.395,18.0,82,0,1,1,0,0,chevrolet cavalier 2-door
365,3.225806,NaN,31.0,4,1.12,0.85,2.575,16.2,82,0,1,1,0,0,pontiac j2000 se hatchback
366,3.448276,NaN,29.0,4,1.35,0.84,2.525,16.0,82,0,1,1,0,0,dodge aries se
367,3.703704,NaN,27.0,4,1.51,0.90,2.735,18.0,82,0,1,1,0,0,pontiac phoenix
368,4.166667,NaN,24.0,4,1.40,0.92,2.865,16.4,82,0,1,1,0,0,ford fairmont futura
369,2.777778,NaN,36.0,4,1.05,0.74,1.980,15.3,82,0,2,0,1,0,volkswagen rabbit l
370,2.702703,NaN,37.0,4,0.91,0.68,2.025,18.2,82,0,3,0,0,1,mazda glc custom l
371,3.225806,NaN,31.0,4,0.91,0.68,1.970,17.6,82,0,3,0,0,1,mazda glc custom
372,2.631579,NaN,38.0,4,1.05,0.63,2.125,14.7,82,0,1,1,0,0,plymouth horizon miser
373,2.777778,NaN,36.0,4,0.98,0.70,2.125,17.3,82,0,1,1,0,0,mercury lynx l
374,2.777778,NaN,36.0,4,1.20,0.88,2.160,14.5,82,0,3,0,0,1,nissan stanza xe
375,2.777778,NaN,36.0,4,1.07,0.75,2.205,14.5,82,0,3,0,0,1,honda accord
376,2.941176,NaN,34.0,4,1.08,0.70,2.245,16.9,82,0,3,0,0,1,toyota corolla
377,2.631579,NaN,38.0,4,0.91,0.67,1.965,15.0,82,0,3,0,0,1,honda civic
378,3.125000,NaN,32.0,4,0.91,0.67,1.965,15.7,82,0,3,0,0,1,honda civic (auto)
379,2.631579,NaN,38.0,4,0.91,0.67,1.995,16.2,82,0,3,0,0,1,datsun 310 gx
380,4.000000,NaN,25.0,6,1.81,1.10,2.945,16.4,82,0,1,1,0,0,buick century limited
381,2.631579,NaN,38.0,6,2.62,0.85,3.015,17.0,82,0,1,1,0,0,oldsmobile cutlass ciera (diesel)
382,3.846154,NaN,26.0,4,1.56,0.92,2.585,14.5,82,0,1,1,0,0,chrysler lebaron medallion
383,4.545455,NaN,22.0,6,2.32,1.12,2.835,14.7,82,0,1,1,0,0,ford granada l
384,3.125000,NaN,32.0,4,1.44,0.96,2.665,13.9,82,0,3,0,0,1,toyota celica gt
385,2.777778,NaN,36.0,4,1.35,0.84,2.370,13.0,82,0,1,1,0,0,dodge charger 2.2
386,3.703704,NaN,27.0,4,1.51,0.90,2.950,17.3,82,0,1,1,0,0,chevrolet camaro
387,3.703704,NaN,27.0,4,1.40,0.86,2.790,15.6,82,0,1,1,0,0,ford mustang gl
388,2.272727,NaN,44.0,4,0.97,0.52,2.130,24.6,82,0,2,0,1,0,vw pickup
389,3.125000,NaN,32.0,4,1.35,0.84,2.295,11.6,82,0,1,1,0,0,dodge rampage
390,3.571429,NaN,28.0,4,1.20,0.79,2.625,18.6,82,0,1,1,0,0,ford ranger
391,3.225806,NaN,31.0,4,1.19,0.82,2.720,19.4,82,0,1,1,0,0,chevy s-10

In [16]:
# Handling missing (null) values by filling in with the median
empty_rows['GallonsPer100MilesTo1981'].fillna(df_rawData['GallonsPer100MilesTo1981'].median(), inplace=True)

C:\Users\edemq\AppData\Local\Temp\ipykernel_9892\3290483942.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  empty_rows['GallonsPer100MilesTo1981'].fillna(df_rawData['GallonsPer100MilesTo1981'].median(), inplace=True)

In [17]:
empty_rows

,GallonsPer100Miles,GallonsPer100MilesTo1981,MPG,Cylinders,Displacement100ci,Horsepower100,Weight1000lb,Seconds0to60,Year,Year70To81,Origin,Origin.Eq.1,Origin.Eq.2,Origin.Eq.3,Name
362,3.571429,4.651163,28.0,4,1.12,0.88,2.605,19.6,82,0,1,1,0,0,chevrolet cavalier
363,3.703704,4.651163,27.0,4,1.12,0.88,2.640,18.6,82,0,1,1,0,0,chevrolet cavalier wagon
364,2.941176,4.651163,34.0,4,1.12,0.88,2.395,18.0,82,0,1,1,0,0,chevrolet cavalier 2-door
365,3.225806,4.651163,31.0,4,1.12,0.85,2.575,16.2,82,0,1,1,0,0,pontiac j2000 se hatchback
366,3.448276,4.651163,29.0,4,1.35,0.84,2.525,16.0,82,0,1,1,0,0,dodge aries se
367,3.703704,4.651163,27.0,4,1.51,0.90,2.735,18.0,82,0,1,1,0,0,pontiac phoenix
368,4.166667,4.651163,24.0,4,1.40,0.92,2.865,16.4,82,0,1,1,0,0,ford fairmont futura
369,2.777778,4.651163,36.0,4,1.05,0.74,1.980,15.3,82,0,2,0,1,0,volkswagen rabbit l
370,2.702703,4.651163,37.0,4,0.91,0.68,2.025,18.2,82,0,3,0,0,1,mazda glc custom l
371,3.225806,4.651163,31.0,4,0.91,0.68,1.970,17.6,82,0,3,0,0,1,mazda glc custom
372,2.631579,4.651163,38.0,4,1.05,0.63,2.125,14.7,82,0,1,1,0,0,plymouth horizon miser
373,2.777778,4.651163,36.0,4,0.98,0.70,2.125,17.3,82,0,1,1,0,0,mercury lynx l
374,2.777778,4.651163,36.0,4,1.20,0.88,2.160,14.5,82,0,3,0,0,1,nissan stanza xe
375,2.777778,4.651163,36.0,4,1.07,0.75,2.205,14.5,82,0,3,0,0,1,honda accord
376,2.941176,4.651163,34.0,4,1.08,0.70,2.245,16.9,82,0,3,0,0,1,toyota corolla
377,2.631579,4.651163,38.0,4,0.91,0.67,1.965,15.0,82,0,3,0,0,1,honda civic
378,3.125000,4.651163,32.0,4,0.91,0.67,1.965,15.7,82,0,3,0,0,1,honda civic (auto)
379,2.631579,4.651163,38.0,4,0.91,0.67,1.995,16.2,82,0,3,0,0,1,datsun 310 gx
380,4.000000,4.651163,25.0,6,1.81,1.10,2.945,16.4,82,0,1,1,0,0,buick century limited
381,2.631579,4.651163,38.0,6,2.62,0.85,3.015,17.0,82,0,1,1,0,0,oldsmobile cutlass ciera (diesel)
382,3.846154,4.651163,26.0,4,1.56,0.92,2.585,14.5,82,0,1,1,0,0,chrysler lebaron medallion
383,4.545455,4.651163,22.0,6,2.32,1.12,2.835,14.7,82,0,1,1,0,0,ford granada l
384,3.125000,4.651163,32.0,4,1.44,0.96,2.665,13.9,82,0,3,0,0,1,toyota celica gt
385,2.777778,4.651163,36.0,4,1.35,0.84,2.370,13.0,82,0,1,1,0,0,dodge charger 2.2
386,3.703704,4.651163,27.0,4,1.51,0.90,2.950,17.3,82,0,1,1,0,0,chevrolet camaro
387,3.703704,4.651163,27.0,4,1.40,0.86,2.790,15.6,82,0,1,1,0,0,ford mustang gl
388,2.272727,4.651163,44.0,4,0.97,0.52,2.130,24.6,82,0,2,0,1,0,vw pickup
389,3.125000,4.651163,32.0,4,1.35,0.84,2.295,11.6,82,0,1,1,0,0,dodge rampage
390,3.571429,4.651163,28.0,4,1.20,0.79,2.625,18.6,82,0,1,1,0,0,ford ranger
391,3.225806,4.651163,31.0,4,1.19,0.82,2.720,19.4,82,0,1,1,0,0,chevy s-10

##  Histograms

In [ ]:
df_histogram = df_rawData['GallonsPer100Miles'].hist( color="plum", edgecolor="plum")
plt.xlabel('X')
plt.ylabel('%, n=')

df_histogram

In [ ]:
df_histogram = df_rawData['GallonsPer100MilesTo1981'].hist( color="plum", edgecolor="plum")
plt.xlabel('X')
plt.ylabel('%, n=')

df_histogram

In [ ]:
df_histogram = df_rawData['MPG'].hist( color="plum", edgecolor="plum")
plt.xlabel('X')
plt.ylabel('%, n=')

df_histogram

In [ ]:
df_histogram = df_rawData['Cylinders'].hist( color="plum", edgecolor="plum")
plt.xlabel('X')
plt.ylabel('%, n=')

df_histogram

In [ ]:
df_histogram = df_rawData['Displacement100ci'].hist( color="plum", edgecolor="plum")
plt.xlabel('X')
plt.ylabel('%, n=')

df_histogram

In [ ]:
df_histogram = df_rawData['Horsepower100'].hist( color="plum", edgecolor="plum")
plt.xlabel('X')
plt.ylabel('%, n=')

df_histogram

In [ ]:
df_histogram = df_rawData['Weight1000lb'].hist( color="plum", edgecolor="plum")
plt.xlabel('X')
plt.ylabel('%, n=')

df_histogram

In [ ]:
df_histogram = df_rawData['Seconds0to60'].hist( color="plum", edgecolor="plum")
plt.xlabel('X')
plt.ylabel('%, n=')

df_histogram

In [ ]:
df_histogram = df_rawData['Year'].hist( color="plum", edgecolor="plum")
plt.xlabel('X')
plt.ylabel('%, n=')

df_histogram